<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lenovo.lps.farseer.priest2.platform.mapper.ThreadPoolMapper"> 
    <select id="loadThreadPools"  resultType="com.lenovo.lps.farseer.priest2.platform.entity.ThreadPoolEntity">
	    SELECT
	    	thread.pool_id poolId,
	    	thread.pool_name poolName,
	    	thread.core_pool_size corePoolSize,
	    	thread.max_pool_size maxPoolSize
		FROM
			P_THREAD_POOL_CONFIG thread
    </select>
</mapper>